
.about__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 35px;
    width: 50%;
    height: 100vh;
    margin: auto;
    color:#000000;
    background-color: #d1d9ff;
}

.about__header{
    position: relative;
    top: -80px;
    color: #000000;
}
.about__contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}

.about__contact :first-child{
    margin-right:10px;
}
.about__contact i {
    color: #212121;
}
.about__info{
    font-size: 22px;
    margin-bottom: 32px;
}
.about__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__desc span{
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
}

@media screen and (max-width:768px){
    .about__container{
        width: 100%;
    }
    .about__header{
        top: -30px;
    }
}